<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login - Navoras</title>
</head>
<body>
    <h1>Login til Navoras</h1>

    {% if fejl %}
        <p style="color: red;">{{ fejl }}</p>
    {% endif %}

    <form method="POST">
        <label for="username">Brugernavn:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Adgangskode:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Log ind">
    </form>
</body>
</html>
